body{
    background-image: url(../img/deadpool2.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
.Degradat{
    height: 400px;
    width: 1200px;
    background-color: #cccccc;
    background-image: radial-gradient(lightsteelblue,gray);
    display: flex;
    left: 135px;
    top: -110px;
    opacity: 0.5;
    border: 2px solid black;
}
h1{
    text-align: center;
    position: relative;
    top: 100px;
    font-family: Deadpool;
    color: black;
    font-size: 100px;
    font-weight: bold;
}
@font-face{
    font-family: Deadpool;
    src: url(../font/Deadpool.woff);
}
section{
    margin-top: 50px;
    margin-bottom: 20px;
}
* {
    margin: 0;
    padding: 0;
    border: o none;
    position: relative;
}
#menu_gral {
    font-family: verdana, sans sherif;
    width: 80%;
    margin: 1.5rem auto;
}
#menu_gral ul {
    list-style-type: none; 
    text-align: center;
    font-size: 0;
}
#menu_gral > ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    background:(lightsteelblue,gray);
}
#menu_gral li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color: darkorange;
}
#menu_gral li:hover a, #menu_gral li a:focus {
    background: #8DA889;
    color: #fff;
}

#menu_gral li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}
#menu_gral li:hover ul, #menu_gral li:focus ul {
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;
    background:  #bbb;
    z-index: 5;
}
#menu_gral li li {
    display: block;
    width: 100%;
}
#menu_gral li:hover li a, #menu_gral li:focus li a {
    font-family: monospace;
    font-size: .9rem;
    line-height: 1.7rem;
    border-top: 1px solid #e5e5e5;
    background: #444;
}
#menu_gral li li a:hover, #menu_gral li li a:focus {
    background: #8AA9B8; 
}
.imatges{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
}
.personaje{
    display: flex;
    flex:row;
}
#deadpool{
    width: 30vw;
}
#copycat{
    width: 30vw;
}
#ajax{
    width: 30vw;
}
#angel{
    width: 30vw;
}
#weasel{
    width: 30vw;
}
.trailer{
    display: flex;
    flex-flow: row wrap;
}
.qüest{
    display: inline-flex;
    flex-direction: column;
}
.myop{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
